@import "global";

// Classes



body{
    @include background-default;
    color: white;

    .header{
        @include header-default;
        padding: 1rem;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            .header-logo{
                height: 100%;
                .image-header-logo{
                    height: 100%;
                }
            }
            .header-menu{
                display: flex;
                justify-content: space-between;
                li{
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    font-weight: bold;
                }
            }
            .header-searchBar{
                height: 90%;
                width: 60%;
                border-radius: 1.3rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $search-color;

                .input-header-searchBar{
                    padding-left: 1rem;
                    padding-right: 1rem;
                    color: white;
                    width: 100%;
                    height: 100%;
                    background: none;
                    border: none;

                    &:focus-visible{
                        outline: none;
                    }

                    &::placeholder{
                        color: white;
                    }
                }
                .icon-search{
                    padding-right: 1rem;
                    color: white;
                }
            } 
            .header-user{
                font-size: 1.5rem;
                display: flex;
                justify-content: space-between;
                .cart-icon{
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
                .user-content{
                    margin-left: 1rem;
                    margin-right: 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .user-name{
                        font-size: 1rem;
                        margin: 0;
                        padding: 0;
                        font-weight: bold;
                        margin-right: 1rem;
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}