@import "global";

// Classes



body{
    @include background-default;
    color: white;

    .header{
        @include header-default;
        padding: 1rem;
        .container{
            width: $header-width;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            .header-logo{
                height: 100%;
                .image-header-logo{
                    height: 100%;
                }
            }
            .header-menu{
                display: flex;
                justify-content: space-between;
                li{
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    font-weight: bold;
                }
            }
            .header-searchBar{
                height: 90%;
                width: 60%;
                border-radius: 1.3rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $search-color;

                .input-header-searchBar{
                    margin-left: 1rem;
                    color: white;
                    width: 100%;
                    height: 100%;
                    background: none;
                    border: none;

                    &:focus-visible{
                        outline: none;
                    }

                    &::placeholder{
                        color: white;
                    }
                }
                .icon-search{
                    margin-right: 1rem;
                    color: white;
                }
            } 
            .header-user{
                font-size: 1.5rem;
                display: flex;
                justify-content: space-between;
                .car-container{
                    margin-left: 1rem;
                    margin-right: 1rem;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    align-items: center;
                    .cart-icon{
                        grid-column: 1 / span 1;
                        grid-row: 2 / span 1;
                    }

                    .cart-number-container{
                        grid-column: 1 / span 1;
                        grid-row: 2 / span 1;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(3, 1fr);
                        
                        .cart-number-circle{
                            grid-column: 3 / span 1;
                            grid-row: 1 / span 1;
                            background: #db2f19;
                            margin-right: -0.5rem;
                            margin-bottom: -0.25rem;
                            text-align: center;
                            border-radius: 50%;
                            .cart-number{
                                align-self: center;
                                font-size: 1rem;
                                font-weight: bold;
                                color: white;
                                margin-bottom: -0.25rem;
                            }
                        }

                       
                    }
                }
                .user-content{
                    margin-left: 1rem;
                    margin-right: 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .user-name{
                        font-size: 1rem;
                        margin: 0;
                        padding: 0;
                        font-weight: bold;
                        margin-right: 1rem;
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}